.profileHead img {
    max-width: 210px;
}

.inputFile {
    margin-bottom: 5px;
}

.inputFile input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.labelInputFile {
    font-size: 8px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
    cursor: pointer;
}