.pagination {
    position: relative;
    min-height: 30px;
    user-select: none;
}

.paginationPages{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.pageNumber {
    cursor: pointer;
    font-size: 11px;
    padding: 2px;
}

.prevBtn,
.nextBtn {
    margin: 1px;
    padding: 1px 2px;
    cursor: pointer;
    font-size: 15px;
}

.active {
    color: #e92dc0;
    font-size: 14px;
}
