.App {
    background-color: #898c91;
    min-height: 100vh;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    border-right: 10px;
}

.main {
    /*overflow: auto;*/
    background-color: #e4e8f0;
    max-width: 873px;
    width: 100%;
    padding: 20px;
}

.active-link {
    background-color: #000000af;
    color: #e4e8f0;
}

.not-found {
    background-color: black;
    height: 100%;
    color: #e4e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}