.profileInfo {
    margin-bottom: 30px;
}

.editBtn button {
    font-weight: 600;
    padding: 2px;
    font-size: 8px;
    border-radius: 3px;
    background-color: transparent;
    margin-bottom: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 0;
}

.wrapperEdit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 0;
}
